@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .PButton-primary {
        @apply bg-yellow-400 font-bold py-3 px-8 rounded-full;
    }

    .PButton-primary:hover {
        @apply bg-yellow-300;
    }

    .PButton-disabled {
        @apply bg-gray-200 font-bold py-3 px-8 rounded-full text-white;
    }

    .PButton-red {
        @apply bg-red-700 font-bold text-white py-3 px-8 rounded-full;
    }

    .PButton-red:hover {
        @apply bg-red-500;
    }

    .PHeading3 {
        @apply text-xl font-bold;
    }
}

.search-box {
    width: 590px;
}

.bg-applied-use {
    background-color: #d6e6dd;
}

.PButton-primary-mini {
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(250 204 21 / var(--tw-bg-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 700;
}

.PButton-gray-mini {
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 700;
}